@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd,p,td,input,select,option,textarea{
	margin:0;
	padding:0;
}
body{
    font-family:SourceHan,"Microsoft YaHei",Arial, Helvetica,SimSun;
}
html,body{
    width: 100%;
    height: 100%;
}
a{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
ul,ol{
	list-style:none;
}
img{
    border:none;
    display: inline-block;
}
// header
header{
    height: 50px;
    background-color: black;
}

.nav .logo{
    height: 34px;
    float: left;
    padding-top: 16px;
    margin-left: 50px;
}
// menu
.menu{
    float: left;
    text-align: center;
    margin-top: 8px;
    margin-left: 10px;
}
.menu li{
    text-decoration: none;
    display: inline-block;
    padding: 0 15px;
}
.menu li a{
    height: 32px;
    line-height: 32px;
    font-weight: 800;
    color: white;
    font-size: 16px;
}
.menu ul :nth-child(1) a{
    color: orangered;
}
// zcdl
.zcdl{
    float: right;
    height: 50px;
    line-height: 50px;
    color: white;

}
.zcdl a{
    color: white;
    font-size: 12px;
    margin: 0 10px 0 25px;
}
.nav .zcdl a:nth-of-type(3){
    margin-left: 10px;
}
.zcdl form{
    position: relative;
    float: right;
    height: 25px;
    margin-right: 70px;
    margin-top: 10px;
    
}
.zcdl form input{
    display: block;
    width: 170px;
    height: 10px;
    float: left;
    color: yellowgreen;
    outline: none;
    border: 0;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-left: 1px solid #edebeb;
}
.zcdl form button{
    display: block;
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    background: url(../img/index/sou.png) -8px -2px;
    outline: none;
    border: 0;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-right: 1px solid #edebeb;
    cursor: pointer;
}
// section
  // head
section{
    width: 100%;
    background: url(../img/club/page-bg.png) repeat;
    padding-bottom: 306px;
}
.sec-logo{
    width: 175px;
    height: 97px;
    padding: 10px 50px;
}
.sec-logo img{
    width: 175px;
    height: 97px;
}
// sec-box
.sec-box{
    width: 100%;
    overflow: hidden;
}

.sec-box1{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 700px;
    margin-bottom: 20px;
}
.sec-box1-1{
    position: absolute;
    left: 0px;
    top: -62px;
}
.sec-box1-2{
    position: absolute;
    left: 53px;
    top: 0px;
}
.sec-box1-3{
    position: absolute;
    left: 900px;
    top: 70px;
}
.sec-box1-3 a:nth-of-type(1){
    position: absolute;
    top: 310px;
    left: 66px;
}
.sec-box1-3 a:nth-of-type(2){
    position: absolute;
    top: 385px;
    left: 66px;
}
.sec-box2{
    position: relative;
    overflow: hidden;
    height: 712px;
    margin-bottom: 20px;
}
.sec-box2-1{
    position: relative;
    top:392px;
    left: 0px;
}
.sec-box2-2{
    position: absolute;
    top: 0px;
    left: 54px;
}
.sec-box2-3{
    position: absolute;
    top: 0px;
    left: 442px;
}

.sec-box .sec-2-shan{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.shan{
    width: 190px;
    height: 130px;
}
.sec-2-shan a:nth-of-type(1){
    position: absolute;
    left: 0;
    top: 45%;
    width: 60%;
}
.sec-2-shan a img:nth-of-type(2){
    position: absolute;
    left: 23%;
    top: 2%;

}
.sec-2-shan a:nth-of-type(2){
    position: absolute;
    left: 40%;
    top: 50px;
    width: 50%;
}
.sec-2-shan a:nth-of-type(3){
    position: absolute;
    left: 70%;
    top: 45%;
    width: 50%;
}
.sec-2-shan a:nth-of-type(3) img:nth-of-type(2){
    position: absolute;
    left: -5%;
    top: 35%;
}
.sec-2-shan a:nth-of-type(4){
    position: absolute;
    left: 45%;
    bottom: 55px;
    width: 50%;
}
.sec-2-shan a:nth-of-type(4) img:nth-of-type(2){
    position: absolute;
    left: -5%;
    top: 35%;
}

.sec-box3{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 688px;
    margin-bottom: 20px;
}
.sec-box3-1{
    position: relative;
    top:10px;
    left: 0px;
}
.sec-box3-2{
    position: absolute;
    top: 0px;
    left: 54px;
}
.sec-box3-3{
    position: absolute;
    top: 2px;
    left: 900px;
}
.sec-box4{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 746px;
}
.sec-box4-1{
    position: absolute;
    top: 0px;
    left: 52px;
}
.sec-box4-1 a{
    position: absolute;
    top: 60%;
    left: 5%;
}
// footer
footer{
    position: relative;
    height: 200px;
    background-color: black;
    padding: 80px 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer .foot1{
    margin-right: 5%;
}
.foot2{
    margin-right: 5%;
}
.foot2 a{
    display: block;
    margin-top: 40px;
}
// box2动画效果
.sec-2-shan .shan{
    animation: shan 2s linear infinite;
}
@keyframes shan{
    0%{
        opacity: 1;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: 1;
    }
}


