
/* promotion */

.promotion{
    margin : 26px auto 0 auto;
    padding: 0 20px;
    overflow: hidden;
}
.pro{
    float: left;
    flex: 0 0 auto;
    margin-left:20px;
    position: relative;
}
.pro img{
    display: block;
    
}
.pro a{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* margin-left:20px; */
    overflow: hidden;
}

.pro a:hover{
    background-color: #666666;
    opacity: .3;
}

/* feature */
.feature{
    margin : 0 auto;
    padding: 0 20px;
    overflow: hidden;
}






